RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [E=PATH_INFO:$1]
RewriteRule (var|usr)(.+ph*)$ index.php [E=PATH_INFO:$1]
RewriteRule (config.inc.php|.htaccess)$ index.php [L,E=PATH_INFO:$1]
RewriteRule \.db$ - [F,L]
